---
title: Promociones - CINEMA'T
---

<h1>Promociones</h1>
<h3>¡Descubre nuestras ofertas tanto si vienes solo, en pareja, con amigos o en família!</h3>
<div class="ofertas">
  <div class="osolo">
    <h4>Ofertas sólo para ti</h4>
    <div>
      <img src="media/img/carousel/Pikachu.png" alt="Entrada para Detective Pikachu por 5€" width="60%">
      <img src="media/img/promociones/PromosMenu4.png" alt="Menú mediano por 4€" width="60%">
    </div>
  </div>
  <div class="opareja">
    <h4>Ofertas para venir en pareja</h4>
    <div>
      <img src="media/img/carousel/2x1.png" alt="2x1 en tus entradas" width="60%">
    </div>
  </div>
  <div class="ofamiliares">
    <h4>Ofertas para famílias</h4>
    <div>
      <img src="media/img/promociones/PromoMenuFamiliar.png" alt="Tu menú familiar por 10€" width="60%">
      <img src="media/img/promociones/Dumbo.png" alt="Ven a ver Dumbo con los peques" width="60%">
    </div>
  </div>
  <div class="ogrupos">
    <h4>Ofertas para grupos</h4>
    <div>
      <img src="media/img/promociones/Cumple.png" alt="¡Ven a celebrar tu cumpleaños!" width="60%">
    </div>
  </div>
</div>
