{% for item in site.movies %}
{% if page.title == {{item.title}} %}
  <h1>{{item.title}}</h1>
  <div class="flex-container" itemscope itemtype="https://schema.org/Movie">
    <div class="imgpelicula">
      <span itemprop="image"><img src="https://thaiskh.gitlab.io/cinemat/media/img/movies/{{item.poster_path}}" alt="{{item.title}}" width="100%"></span>
    </div>
    <div class="trailerpelicula">
      <span itemprop="trailer"><iframe src="{{item.trailer}}" width="100%" height="100%"></iframe></span>
    </div>
    <div class="fichatecnica">
      <h3>Ficha técnica</h3>
      <p><span itemprop="duration"><strong>Duración: </strong>{{item.duration}}</span><br>
      <span itemprop="countryOfOrigin"><strong>País: </strong>{{item.country}}</span><br>
      <span itemprop="genre"><strong>Género: </strong>{{ item.genre | join: ", "}}</span><br>
      <span itemprop="copyrightYear"><strong>Año de producción: </strong>{{item.year}}</span><br>
      <span itemprop="director"><strong>Director/es: </strong>{{ item.directors | join: ", "}}</span><br>
      <span itemprop="actor"><strong>Actores: </strong>{{item.actors |join: ", "}}</span></p>
    </div>
  </div>
  <div class="infopelicula">
    <h3>Sinopsis</h3>
    <p>{{item.overview}}</p>
  </div>
  <div class="horariospelicula">
    <table>
      <thead>
        <h3>HORARIOS</h3>
      </thead>
      <tbody>
        <tr>
          <th>Lunes</th>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Lunes" %}
              <td>{{hora.hora1}}</td>
              <td>{{hora.hora2}}</td>
              <td>{{hora.hora3}}</td>
              <td>{{hora.hora4}}</td>
              <td>{{hora.hora5}}</td>
              <td>{{hora.hora6}}</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Martes</th>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Martes" %}
              <td>{{hora.hora1}}</td>
              <td>{{hora.hora2}}</td>
              <td>{{hora.hora3}}</td>
              <td>{{hora.hora4}}</td>
              <td>{{hora.hora5}}</td>
              <td>{{hora.hora6}}</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Miércoles</th>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Miércoles" %}
              <td>{{hora.hora1}}</td>
              <td>{{hora.hora2}}</td>
              <td>{{hora.hora3}}</td>
              <td>{{hora.hora4}}</td>
              <td>{{hora.hora5}}</td>
              <td>{{hora.hora6}}</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Jueves</th>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Jueves" %}
              <td>{{hora.hora1}}</td>
              <td>{{hora.hora2}}</td>
              <td>{{hora.hora3}}</td>
              <td>{{hora.hora4}}</td>
              <td>{{hora.hora5}}</td>
              <td>{{hora.hora6}}</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Viernes</th>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Viernes" %}
              <td>{{hora.hora1}}</td>
              <td>{{hora.hora2}}</td>
              <td>{{hora.hora3}}</td>
              <td>{{hora.hora4}}</td>
              <td>{{hora.hora5}}</td>
              <td>{{hora.hora6}}</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Sábado</th>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Sábado" %}
              <td>{{hora.hora1}}</td>
              <td>{{hora.hora2}}</td>
              <td>{{hora.hora3}}</td>
              <td>{{hora.hora4}}</td>
              <td>{{hora.hora5}}</td>
              <td>{{hora.hora6}}</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Domingo</th>
          {% for hora in site.data.horarios %}
            {% if hora.dia == "Domingo" %}
              <td>{{hora.hora1}}</td>
              <td>{{hora.hora2}}</td>
              <td>{{hora.hora3}}</td>
              <td>{{hora.hora4}}</td>
              <td>{{hora.hora5}}</td>
              <td>{{hora.hora6}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endif %}
{% endfor %}
