<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://thaiskh.gitlab.io/cinemat/media/img/logo/starslogo.png">
    <link rel="stylesheet" href="https://thaiskh.gitlab.io/cinemat/assets/css/carousel.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  {% include navigation.html %}
  {% include carousel.html %}
  <div id="wrapper">
    {{ content }}
  </div>
  <footer>
    <div class="contact">
      <p id="direccion">&nbsp;&#9906;&nbsp;&nbsp;&nbsp;&nbsp;Carrer de Santa Teresa 08290 Cerdanyola del Vallès (Barcelona)</p>
      <p id="telefono">&#9742;&nbsp;&nbsp;&nbsp;+34 93 580 31 25</p>
      <p id="correo">&#64;&nbsp;&nbsp;&nbsp;&nbsp;contacto@cinemat.es</p>
    </div>
    <div class="rrsscc">
      <img id="footerimg" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/by-nc-sa.png" alt="CC BY-NC-SA">
      <p class="footerp">CC BY-NC-SA. Thais Camuñez, Miquel López y Andrea Valcarcel</p>
      <img class="social" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/facebook.png" alt="Facebook">
      <img class="social" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/instagram.png" alt="Instagram">
      <img class="social" id="twitter" src="https://thaiskh.gitlab.io/cinemat/media/img/footer/twitter.png" alt="Twitter">
    </div>
  </footer>
</body>
</html>
